<div class="jumbotron">
  <div class="container text-center">
    <h1>동아리 홍보</h1>      
    <p>영남대 동아리 소개 & 홍보</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-paperclip"></span> 프로그램 소개 </a></li>
      </ul>
    </div>
  </div>
</nav>

<div class = "container">
    <h1>글 리스트 페이지입니다</h1>

    <% @every_post.each do |p| %>
    제목 : <%= p.title %> <br>
    내용 : <%= p.content %><br>
    시간 : <%= p.created_at %>
    <a href = "/destroy/<%= p.id %>">[삭제]</a>
    <a href = "/update_view_h/<%= p.id %>">[수정]</a>
    <hr>
    <% end %>
<a href="/" style = "margin-top : 50px" class="btn btn-warning waves-effect waves-light">홈으로</a>
</div>